<a href="https://colab.research.google.com/github/rodmx/AI-ML-July-2020/blob/master/Day04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1
_Research on whether addition, subtraction, multiplication, division, floor division and modulooperations be performed on complex numbers. Based on your study, implement a Pythonprogram to demonstrate these operations_

In [5]:
a = 1+2j
b = 3-4j
print ("a: ", a)
print ("b: ", b)
print ("a+b: ", a+b)
print ("a-b: ", a-b)
print ("a*b: ", a*b)
print ("a/b: ", a/b)
#print ("a//b: ", a//b)   cant floor complex numbers
#print ("a%b: ", a&b)    modulo not supported on complex numbers

a:  (1+2j)
b:  (3-4j)
a+b:  (4-2j)
a-b:  (-2+6j)
a*b:  (11+2j)
a/b:  (-0.2+0.4j)

# Q2
_Research on range() functions and its parameters. Create a markdown cell and write in your ownwords (no copy-paste from google please) what you understand about it. Implement a smallprogram of your choice on the same._

**range( start, stop, step)**

*start*> is the starting point of the range sequence. It is optional and defaults to zero.
*stop*> is end of the sequence (n-1). It is mandatory.
*step*> is the step size of the sequence. It is optional and defaults to one.

In [16]:
print( list(range(5)) ) 
list( range(10,30,3))

[0, 1, 2, 3, 4]

[10, 13, 16, 19, 22, 25, 28]

#Q3 
_Consider two numbers. Perform their subtraction and if the result of subtraction is greater than 25, print their multiplication result else print their division result._

In [12]:
x=30
y=20

if ((x-y) >25):
  print("x*y:",x*y)
else:
  print("x/y:",x/y)

x/y: 1.5
x/z: 6.0

#Q4
_Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the result as "square of that number minus 2"._

In [30]:
l = list(range(11,60,5))
print (l)
for i in l:
    if i%2==0:
      print (i," is even. ", i**2 -2)
    else:
      print (i," is odd. ")

[11, 16, 21, 26, 31, 36, 41, 46, 51, 56]
11  is odd.
16  is even.  254
21  is odd.
26  is even.  674
31  is odd.
36  is even.  1294
41  is odd.
46  is even.  2114
51  is odd.
56  is even.  3134

#Q5
_Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that 
number is divided 2._

In [39]:
l = list(range(3,31,3))
print (l)
for i in l:
    if i/2>7:
      print (i," is greated than 7 when divided 2. ")
    else:
      print (i," not the case. ")

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
3  not the case.
6  not the case.
9  not the case.
12  not the case.
15  is greated than 7 when divided 2.
18  is greated than 7 when divided 2.
21  is greated than 7 when divided 2.
24  is greated than 7 when divided 2.
27  is greated than 7 when divided 2.
30  is greated than 7 when divided 2.